doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/javascripts/helpers/homePage.js")
    script(src="/javascripts/controllers/homePage.js")
